<form action="/settings" method="post">
    
    </br>Duration single: <input type="text" name="singleDuration"  value="{{ singleDuration }} ">
    </br>Duration double: <input type="text" name="doubleDuration"  value="{{ doubleDuration }} ">
    </br>HS100 IP address: <input type="text" name="HS100_IP"  value="{{HS100_IP}}">
    </br><button name="settingsBtn" type="submit">UPDATE SETTINGS</button>
</form>

<form action="/grind/single" method="get">
    </br><button name="settingsBtn" type="submit">GRIND SINGLE</button>
</form>

<form action="/grind/double" method="get">
    </br><button name="settingsBtn" type="submit">GRIND DOUBLE</button>
</form>
