<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>

<center>
<form action="/settings" method="post">
    </br>Duration single: <input type="text" name="singleDuration"  value="{{ singleDuration }} ">
    </br>Duration double: <input type="text" name="doubleDuration"  value="{{ doubleDuration }} ">
    </br>HS100 IP address: <input type="text" name="HS100_IP"  value="{{HS100_IP}}">
    </br>
    </br> <button class="btn btn-warning" name="settingsBtn" type="submit">UPDATE SETTINGS</button>
</form>


<form action="/grind/single" method="get">
    </br><button class="btn btn-primary" name="settingsBtn" type="submit">GRIND SINGLE</button>
</form>

<form action="/grind/double" method="get">
    <button class="btn btn-primary" name="settingsBtn" type="submit">GRIND DOUBLE</button>
</form>
</center>
</body>
<html>
